<div class="well">
  <div class="container row-fluid">
    <div class="span2">TODO</div>
    <%= @club.name %>
  </div>
  <div class="container row-fluid">
    <div class="span2">TODO</div>
    <%= @club.short_name %>
  </div>
  <div class="container row-fluid">
    <div class="span2">TODO</div>
    <%= @club.shortcut %>
  </div>
  <div class="container row-fluid">
    <%= @club.get_logo_image %>
  </div>
</div>