<div class="well">
  <div class="container row-fluid">
    <div class="span2">TODO</div>
    <%= @team.name %>
  </div>
  <div class="container row-fluid">
    <div class="span2">TODO</div>
    <%= @team.short_name %>
  </div>
  <div class="container row-fluid">
    <div class="span2">TODO</div>
    <%= @team.shortcut %>
  </div>
  <div class="container row-fluid">
    <%= @team.logo_image %>
  </div>
</div>