<%# TODO komplet prava strana %>
<div id="right-side-panel">
  <div class="random-players">
    <div class="title">
      Náhodní hráči
    </div>
    <div class="content">
      fhdjaflk<br />
      fhdjaflk<br />
      fhdjaflk<br />
    </div>
  </div>
  
  <div class="last-games">
    <div class="title">
      Poslední zápasy
    </div>
    <div class="content">
      fhdjaflk<br />
      fhdjaflk<br />
      fhdjaflk<br />
    </div>
  </div>
  
  <div class="next-games">
    <div class="title">
      Nadcházející zápasy
    </div>
    <div class="content">
      fhdjaflk<br />
      fhdjaflk<br />
      fhdjaflk<br />
    </div>
  </div>
  
  <div class="sponsors">
    <div class="title">
      Sponzoři
    </div>
    <div class="content">
      fhdjaflk<br />
      fhdjaflk<br />
      fhdjaflk<br />
    </div>
  </div>
</div>