#counter {
    position: fixed;
    right: 5px;
    top: 5px;
}

.non-displayed {
    display: none;
}

body {
    background-image: url('../../../page_backgrounds/1.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
}

#page.container {
    border: solid #000000 1px;
    background-color: rgba(255,255,255,0.8);
}

#page.container > #page-title {
    background-color: #ffffff;
    border-bottom: #000000 solid 1px;
    padding: 5px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

#page.container > .content {
    padding: 10px;
}

#page.container > .content > #right-side-panel {
    float: right;
    width: 150px;
    margin-bottom: 10px;
}

#page.container > .content > #right-side-panel > div {
    border: solid #000000 1px;
    background-color: #efefef;
    font-size: 90%;
}

#page.container > .content > #right-side-panel > div:not(:first-of-type) {
    margin-top: 10px;
}

#page.container > .content > #right-side-panel > div > .title {
    border-bottom: solid #000000 1px;
    background-color: #ffffbb;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#page.container > .content > #right-side-panel > div > .content {}

#page.container > .content > #right-side-panel > div > .content > .line {
    padding: 2px 5px 2px 5px;
}

#page.container > .content > #right-side-panel > div > .content > .line:not(:last-of-type) {
    border-bottom: solid #999999 1px;
}

#page.container > .content > #right-side-panel > .last-games .result,
#page.container > .content > #right-side-panel > .next-games .result {
    float: right;
}

#page.container > .content > #right-side-panel > .birthdays > .content,
#page.container > .content > #right-side-panel > .random-players > .content {
    text-align: center;
}

#page.container > .content > #page-data {
    width: 760px;
}
