.bordered-form {
    border: solid #000000 1px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px;
    overflow: hidden;
}

.bordered-form > form {
    padding-top: 20px;
    margin: 0px;
}

.bordered-form > form > .form-actions {
    margin-bottom: 0px;
}

.bordered-form:not(:first-child) {
    margin-top: 20px;
}