.bordered {
    border: solid #000000 1px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px;
    overflow: hidden;
}

.bordered > .pad {
    padding: 20px;
}

.bordered > form {
    padding-top: 20px;
    margin: 0px;
}

.bordered > .form-actions,
.bordered > form > .form-actions {
    margin-bottom: 0px;
}

.bordered:not(:first-child) {
    margin-top: 20px;
}