table.index {
    width: 100%;
    cursor: default;
}

table.index td {
    text-align: center;
}

table.index td.btn-group {
    float: right;
}

table.index thead td {
    font-weight: bold;
    padding: 5px;
    border-bottom: solid #aaaaaa 2px;
}

table.index td:first-child {
    padding-left: 10px;
}

table.index td:last-child {
    padding-right: 10px;
}

table.index tbody tr:nth-child(2n),
table.lines tbody tr:nth-child(2n) {
    /* nothing modified */
}

table.index tbody tr:nth-child(2n+1),
table.lines tbody tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}
