body {
    background-color: #fdc26f;
}

.contanier-content > .well > h1 {
    padding-bottom: 10px;
    border-bottom: solid #e5e5e5 2px;
    margin-bottom: 20px;
    text-align: center;
}

.contanier-content > .well > h1:not(:first-child) {
    padding-top: 10px;
    border-top: solid #e5e5e5 2px;
    margin-top: 20px;
}

.contanier-content > .well > .footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid #e5e5e5 2px;
    text-align: center;
}

.centralized {
    text-align: center;
}

div.top-separator:not(:first-child) {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid #e5e5e5 2px;
}